__tests__/
.github/
cjs/
docs/
node_modules/
test_reports/
.editorconfig
.gitattributes
.gitignore
.npmignore
cjsconfig.jsonc
*-build.cjs
*.config.js
tsconfig.json
*.tsbuildinfo
/**/*.tsbuildinfo
*.ts
/**/*.ts
!*.d.ts
!/**/*.d.ts
*.png
yarn.lock
*.log
**/*.log
package-lock.json
